/* ? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Circular Std', sans-serif;
    font-size: 1.05rem;
    color: #77797e;
}

.flex {
    display: flex;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hover-white {
    color: #ffffff;
    cursor: pointer;
}

li:hover {
    color: #ffffff;
    cursor: pointer;
}



main {
    width: 100%;
    height: 90vh;
}

h1 {
    font-size: 2rem;
    margin: 70px 0 20px 0;
}

h2 {
    font-size: 1.3rem;
    margin: 20px 0;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.color-white {
    color: #ffffff;
}

.active-nav {
    border-left: 4px solid #adff2f;
}

.active-bottom {
    border-bottom: 3px solid #adff2f;
}

.section-side-nav {
    background-color: #000000;

    width: 15%;
    height: 100%;
    padding: 1%;

    flex-direction: column;
    justify-content: space-between;
}

.logo-big {
    padding-left: 5%;
}

.section-side-nav img {
    width: 60%;
    margin: 5% 5% 5% 0;
}

.top-nav {
    width: 100%;
    line-height: 10%;
    margin-bottom: 10%;

    flex-direction: column;
}

.top-nav div {
    align-items: center;

    padding: 0px 10px;
}

.top-nav img {
    width: 15%;
}

.add-playlist {
    font-size: 1.3rem;
    margin-bottom: 7%;
    
    align-items: center;
}

.add-playlist i {
    font-size: 3rem;
    margin-right: 5%;
}


.playlist-list {
    overflow-y: auto;
}

.playlist-list ul li {
    list-style: none;
    padding: 3% 0;
}

.bottom-section-nav {
    z-index: 3;
}

.bottom-nav-download p {
    align-items: center;
}


.bottom-nav-download img {
    width: 10%;
    margin: 0 5% 5% 0;
}

.bottom-nav-profile {
    align-items: center;
}

.bottom-nav-profile img {
    width: 13%;
    padding: 1%;
    background-color: #77797e;
    border-radius: 50%;
}




.section-main-content {
    background-color: #141922;

    width: 85%;
    height: 100%;
    overflow-y: auto;
}

.container-upgrade-call {
    background-color: #080b12;
    position: fixed;
    width: 85%;
    height: 10%;
    opacity: 0.8;
    z-index: 5;

    flex-direction: row-reverse;
    align-items: center;
}

.upgrade-button {
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    text-align: center;

    padding: .5% 2%;
    margin: 0 15px;
    border-radius: 30px;
}

.upgrade-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container-main-content {
    padding: 150px 30px;
}

.container-nav-categories {
    width: 60%;
    margin: 0 auto;
}

.nav-categories {
    list-style: none;

    justify-content: space-around;
}

.container-album {
    margin-top: 30px;
    gap: 0 40px;

    flex-wrap: wrap;
}

.album-card {
    text-align: center;
}

.album-card h2 {
    width: 300px;
}

.album-card img {
    width: 300px;
    height: 300px;
}

.img-container {
    height: 300px;
    width: 300px;
    position: relative;
}

.shade {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 5;

    position: absolute;
    top: 0;
    left: 0;
}

.border-50 {
    border-radius: 50%;
}

.shade .fa-play-circle {
    font-size: 4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover .shade{
    display: block;
}




footer {
    background-color: #282828;
    position: fixed;
    z-index: 5;

    width: 100%;
    height: 10vh;
    padding: 20px;

    justify-content: space-between;
    align-items: center;
}

.song-played-footer {
    gap: 0 15px;
    align-items: center;
}

.song-name-footer {
    margin: 0 40px 0 0;
}

.song-played-footer img {
    width: 70px;
    height: 70px;
}

.player-footer{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.player-buttons {
    align-items: center;
}

.player-buttons i {
    font-size: 1.2rem;
    margin: 0 20px;
}

.player-buttons .fa-play-circle {
    font-size: 2.3rem;
}

.player-time {
    align-items: center;
}

.player-time h3 {
    font-weight: 200;
}

.time-bar {
    margin: 0 20px;

    width: 700px;
    height: 7px;
    border-radius: 20px;
    background-color: #5a5a5a;
}

.time-passed {
    width: 170px;
    height: 100%;
    border-radius: 20px;
    background-color: #c1c1c1;
}

.volume-stream-footer {
    gap: 0 20px;
    align-items: center;
}

.volume-bar {
    width: 150px;
    height: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
}

.volume-set {
    width: 50px;
    height: 100%;
    border-radius: 20px;
    background-color: #c1c1c1;
}